.bgg2{
    background-image: url("/public/pixelcut-export (1).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  @media (max-width: 768px) { /* For devices with width ≤ 768px */
    .bgg2 {
      height: 270px;
      
      background-size: cover;
    }
  }
  
  @media (min-width: 1024px) { /* For devices with width ≤ 768px */
    .bgg2 {
      height: 500px;
    }
  }